.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latlng {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 12px;
    background: grey;
    color: white;
    font-size: 12;
    border-radius: 25px;
    padding: 5px;
    opacity: 0.7;

    /* mt12 ml12 bg-darken75 color-white z1 py6 px12 round-full txt-s txt-bold" */
}

.basemapContainer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}