.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #9CBA7F;
    font-weight: 100;
    font-size: 100px;
    margin-bottom: 20px;
}

.subHeader {
    color: #458B00;
    font-size: 35px;
    text-align: center;
    line-height: 55px;
    font-weight: 100;
    padding: 0 125px 0 125px;
}

/*
.container {
    composes: centeredContainer from 'sharedStyles/styles.css';
}
*/
